<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace:该mapper.xml映射文件的 唯一标识 -->
<mapper namespace="com.zjnu.mapper.read_ex_datastructMapper">
	
	
	<resultMap type="com.zjnu.entity.Column" id="Column">
		<result column="Field" property="field" jdbcType="VARCHAR"/>
		<result column="Type" property="type" jdbcType="VARCHAR"/>
	</resultMap>
	
	<select id="querytablenameBymysql" 	 resultType="String" >
		show tables
	</select>
	
	<select id="queryColumnBymysql"  resultMap="Column">
		SHOW FULL COLUMNS FROM ${tablename}
	</select>
	
	
	<select id="querytablenameByoracle" resultType="String">
		select TABLENAME from tab
	</select>
	
	<select id="queryColumnByoracle" >
	</select>
	
	
	
</mapper>